@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*font-family: 'Inconsolata', monospace;*/

/*    font-family: 'Oxygen', sans-serif;*/

/*    font-family: 'Nanum Gothic', sans-serif;*/
@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Regular.ttf');
}

.content {
	display: flex;
	flex-direction: column;
	align-content: center;
	font-family: 'courier new', monospace;
	font-size: 1.5rem;
	margin-left: 10vw;
	margin-right: 10vw;
}

.content .iframe {
	height:  15vw;
	width:  15vw;
}

.content .post {
	display: flex;
	flex-direction: column;
	background-color: #253DCC;
	align-content: flex-start;
	max-width: 100rem;
	border: 5px;
	border-color: white;
	margin-bottom: 2vh;
	padding: 2vw;
}

.content .from {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px;
	border:  solid 5px;
	border-color:  white;
	background: skyblue;
	font-family: helvetica, monospace;
	font-size: 1.1rem;
}

.content .from .name {
	padding-right: 1vw;
}

.content .message, .content .story {
	display: inline-block;
	flex-direction: row;
	justify-content: flex-start;
	border: solid 5px;
	border-color: white;
	background: skyblue;
	white-space: pre-line;
}

.content .full_picture {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.content .image {
	display:flex;
	justify-content: space-around;
	max-width: 25vw;
	max-height: 60vh;
	min-width: 20vw;
	min-height: 20vh;
}

.content .id {
	display: flex;
	justify-content: space-between;
	padding-left: 0vh;
}

.content .comment-id {
	padding-top: 1vh;
}

.content .post-id {
	padding-top: 1vh;
}

.content .created_time {
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.content .comments {
	display: flex;
	flex-direction: column;
	align-content: center;
	font-family: 'courier new', monospace;
	font-size: 1.5rem;
	max-width: 85vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

.content .comments .item {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #253DCC;
	align-content: flex-start;
	border: solid 1px;
	border-color: black;
	margin-bottom: 5px;
	margin-left: 5vw;
	padding:  1vh;
	padding-bottom: 2vh;
}

.content .comments .comments-title {
	padding-top: 1vh;
}

.data {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.data .photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2vh;
	margin-bottom: 2vh;
	border: solid 1px;
	border-color: black;
	min-width: 25vw;
}

.data .photo .picture,.photo-id {
	padding: 2vh;
}