@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*font-family: 'Inconsolata', monospace;*/

/*    font-family: 'Oxygen', sans-serif;*/

/*    font-family: 'Nanum Gothic', sans-serif;*/
@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-Regular.ttf');
}

content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'courier new', monospace;
	font-size: 1.5rem;
}

content * {
	display: flex;
	flex-direction: row;
	max-width: 85vw;
	padding: 2vh;
}

content .page {
	display: flex;
	flex-direction: column;
}

content .post {
	display: flex;
	flex-direction: column;
	background-color: #253DCC;
	align-content: center;
	border: 5px;
	border-color: white;
	margin-bottom: 5px;
}

content .from {
	display: flex;
	justify-content: center;
	padding: 10px;
	border: 1px;
	font-family: helvetica, monospace;
	font-size: 1.1rem;

}

content .message {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

content .comments {
	display: flex;
	flex-direction: column;
}

content .comments .item {
	display: flex;
	flex-direction: column;
}


content .full_picture {
	display: flex;
	justify-content: center;
	padding: 10px;
}

content .image {
	display:flex;
	justify-content: space-around;
	max-width: 15vw;
	max-height: 15vh;
}

content .id {
	display: flex;
	justify-content: space-between;
}
